<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>content</title>

    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="../js/content.js"></script>
    <script src="../js/index.js"></script>
</head>
<body>
<div style="display: flex">
    <!--左侧推荐内容-->
    <div class="col-sm-3 col-md-3 col-bg-3 panel panel-default" id="content_left"  >

    </div>

    <!--右侧内容主体-->
    <div class="col-sm-9 col-md-9 col-gb-9 panel panel-default" id="content_right" >

    </div>


</div>


</body>
</html>