<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <div>
        <div class="text-center " id="content_left_top">
            <div class="thumbnail">
                <img src="../image/1508471681.7502117a.jpg" alt="头像"/>
                <div class="caption">
                    名字
                </div>
            </div>
        </div>
        <div class="text-center" id="content_left_middle" >
            <p>
                推荐内容1
            </p>
            <p >
                推荐内容1
            </p>
            <p >
                推荐内容1
            </p>
            <p >
                推荐内容1
            </p>
            <p >
                推荐内容1
            </p>
        </div>
        <div class="pull-left" id="content_left_foot">
            <p>博文量:0</p>
            <p>回复数量:0</p>
            <p>网站访问量:0</p>
            <p>关注人数:0</p>
        </div>
    </div>
</body>
</html>