<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <div>
        <!--博客内容-->
        <div id="blogInfo"></div>
        <div id="replyInfo"></div>

        <!--&lt;!&ndash;发表回复&ndash;&gt;-->
        <!--<div class="panel panel-default" id="reply">-->
        <!--<div class="panel-heading">-->
        <!--<span>发表回复</span>-->
        <!--</div>-->
        <!--<div class="panel-body">-->
        <!--&lt;!&ndash;文本框&ndash;&gt;-->
        <!--<div id = "editor"></div>-->
        <!--&lt;!&ndash;提交回复的框&ndash;&gt;-->
        <!--<input type="button" class="btn btn-default" onclick="submitReply(editor.txt.html(),editor.txt.text())" value="提交"/>-->
        <!--</div>-->
        <!--</div>-->

        <!--分页栏-->
        <ul class="pagination pull-right" id="page" style="display: none;">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</body>
</html>