<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>

    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div  class="panel panel-default">
        <div class="panel-heading">
            <span>回复区</span>
        </div>
        <div class="panel-body">
            <div>
                <div class="col-sm-3 col-md-3 col-bg-3">
                    tupian
                </div>
                <div class="col-sm-9 col-md-9 col-bg-9">
                    <p>内容</p>
                    <p class="text-right">fadsfa</p>
                </div>
            </div>
            <div>
                <div class="col-sm-3 col-md-3 col-bg-3">
                    tupian
                </div>
                <div class="col-sm-9 col-md-9 col-bg-9">
                    <p>内容</p>
                    <p class="text-right">fadsfa</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>